extends layouts/main
include mixins/user
block content
    .title
        h1 Room Chat
        <i class="fas fa-envelope-open"></i>
    .where
        if !loggedUser
            .loginButton
                button 
                    a(href="/login") Log In
                button
                    a(href="/join") Join
        else
            a.homeProfile(href=`/user/${loggedUser.id}/profile`)
                if loggedUser.avatarUrl
                    img.userPicture(src=loggedUser.avatarUrl)
                else
                    .homeImage
                        <i class="fas fa-user-secret"></i>
                .homeName=loggedUser.name
            .homeMessage=loggedUser.message



            .editProfielBtn.logoutButton
                button
                    a(href=`/user/${loggedUser.id}/editprofile`) Edit Profile

            .logoutButton
                button
                    a(href="/logout") Logged Out        