extends layouts/main

block content
    .chatRoom
        ul.comments
            if(loggedUser && messages.length !==0)
                each message in messages
                    if(message.people)
                        if(message.people.id !== loggedUser.id)
                            li.notMyMessage
                                .message__profile
                                        if message.people.avatarUrl
                                            img(src=message.people.avatarUrl).message__image 
                                        else
                                            .message__icon
                                                <i class="fas fa-user-alt"></i>
                                        .message__name=message.people.name
                                .message__content=message.message
                        else if (message.people.id === loggedUser.id)
                            li.MyMessage
                                .Mymessage__content=message.message
                    else
                        li.notification=message.message    
    
    .chatFormWrapper
        form.chatForm
            input.input(type="text", name="comment")
            input(type="submit",value="Submit")        

    .chatFriendsPlus
        <i class="fas fa-plus-circle"></i>
        
    .chatFriendsForm
        .chatUsers
            .chatUsers__title  Chat Users
            ul.chatUsers__users
        .formContainer
            form.chatFriends__form
                input(type="email" placeholder="Searching By E-mail" name="term") 
        ul.plusFriends
        .closeBtn Close