extends layouts/main

block content
    if fixedRooms.length
        each room in fixedRooms
            a(href=`/user/${loggedUser.id}/chat/${room.id}`).roomContainer
                if room.backgroundImg
                    .roomImage
                        img(src=room.backgroundImg)
                else if room.peoples.length === 2
                    .roomWrapper
                        .roomBasicImage
                            if loggedUser.id === room.peoples[0].id && room.peoples[1].avatarUrl
                                img(src=room.peoples[1].avatarUrl)                
                            else if loggedUser.id === room.peoples[1].id && room.peoples[0].avatarUrl
                                img(src=room.peoples[0].avatarUrl)
                            else    
                                <i class="fas fa-tint"></i>             
                        if(loggedUser.name !==room.peoples[1].name)
                            .name=room.peoples[1].name
                        else
                            .name=room.peoples[0].name
                else        
                    .roomImages
                        each people in room.peoples
                            img(src=people.avatarUrl)
                
                span.roomTitle=room.title
                span.roomMember=room.peoples.length