extends layouts/main

block content
    if fixedRooms.length
        .roomGridWrapper    
            each room,index in fixedRooms
                .roomsOutWrapper
                    a(href=`/user/${loggedUser.id}/chat/${room.id}`).roomContainer
                                if room.backgroundImg
                                    .roomImage
                                        img(src=room.backgroundImg)
                                else if room.peoples.length === 2
                                    .roomWrapper
                                        .roomBasicImage
                                            if loggedUser.id === room.peoples[0].id && room.peoples[1].avatarUrl
                                                img(src=room.peoples[1].avatarUrl)                
                                            else if loggedUser.id === room.peoples[1].id && room.peoples[0].avatarUrl
                                                img(src=room.peoples[0].avatarUrl)
                                            else    
                                                <i class="fas fa-tint"></i>             
                                        if(loggedUser.name !==room.peoples[1].name)
                                            .name=room.peoples[1].name
                                        else
                                            .name=room.peoples[0].name
                                else        
                                    .roomImages
                                        .roomImages__profiles
                                            each people,index in room.peoples
                                                if(index < 4)
                                                    if(people.avatarUrl)
                                                        img(src=people.avatarUrl)
                                                    else
                                                        <i class="fas fa-user-alt"></i>
                                    span.roomTitle= room.title
                                
                                if lastMessages[index].messages[room.messages.length-1].message.length <15
                                    span.showMessage=lastMessages[index].messages[room.messages.length-1].message
                                else
                                    span.showMessage=lastMessages[index].messages[room.messages.length-1].message.slice(0,14)+"....."
                                if(room.peoples.length !== 2)
                                    span.roomMember=room.peoples.length           