extends layouts/main

block content
    .profileWrapper
        if user.backgroundUrl
            .backgroundWrapper
                img(src=`${user.backgroundUrl}`)
        else
            .noBackground
        if user.avatarUrl
            .avatarWrapper
                img(src=`${user.avatarUrl}`)
        else
            .userImage
               <i class="fas fa-user-alt"></i>        
        .userName=user.name
        if user.message
            .userMessage=user.message
        else
            .userMessage No message 
        if(isFriend === true)
            .sendBtn Send Message
            a(href=`/board/${user.id}/mypost`).profilePost Postes
        else
            a(href=`/board/${user.id}/mypost`).profileAlonePost Postes
                 